{% extends "@App/layout.html.twig" %}
{% block content %}

    <div class="row justify-content-center">
        <div class="col-5 mt-5">
            <form action="{{ path('app_alumnos_index') }}" method="get">
                <input type="text" name="q" placeholder="Nombre...">
                <input type="text" name="c" placeholder="Ciclo...">
                <button type="submit" class="btn btn-secondary">Buscar</button>
            </form>
        </div>
        <div class="col-10 mt-5 mb-1">
   {% for label,messages in app.flashes %}
       {% for message in messages %}
           <div class="alert alert-{{ label }}">{{ message }}</div>
           {% endfor %}
       {% endfor %}
        <h2 class="mb-3">Listado de alumnos</h2>
        <table class="table table-bordered">
            <tr>
                <th>DNI</th>
                <th>Nombre</th>
                <th>1er apellido</th>
                <th>2do apellido</th>
                <th>E-mail</th>
                <th>Ciclo</th>
                <th>Opciones</th>
            </tr>
            {% for alumno in alumnos %}
                <tr>
                    <td>{{  alumno.nif }}</td>
                    <td>{{  alumno.nombre }}</td>
                    <td>{{  alumno.apellido1 }}</td>
                    <td>{{  alumno.apellido2 }}</td>
                    <td>{{  alumno.email }}</td>
                    <td>{{  alumno.ciclo.codigo }}</td>
                    <td>
                        <a role="button" href="{{ path("app_alumnos_eliminaalumnos",{"id":alumno.id}) }}" class="btn btn-danger"><i class="fas fa-trash-alt"></i></a>
                        <a role="button" href="{{ path("app_alumnos_muestraalumnos",{"id":alumno.id}) }}" class="btn btn-primary"><i class="fas fa-info"></i></a>
                        <a role="button" href="{{ path("app_alumnos_editaralumnos",{"id":alumno.id}) }}" class="btn btn-warning"><i class="far fa-edit"></i></a>
                    </td>
                </tr>
            {% endfor %}
        </table>
        <nav>
            {{ pagerfanta(alumnos, 'twitter_bootstrap4_translated', {'omitFirstPage': true, 'pageParameter': '[pag]', 'css_container_class': 'pagination justify-content-center'}) }}
        </nav>
    </div>
    </div>
{% endblock %}