{% block content %}
    <div class="row justify-content-center mt-5 mb-5 ">
        <div class="col-3">
            {% if alumno.fotografia is not null %}
                <img src="{{ asset('images/fotos_alumnos/'~alumno.fotografia) }}" height="100" width="100">
                {% else %}
                    <img src="{{ asset('user.png') }}" height="100" width="100">
            {% endif %}
        </div>
        <div class="col-1">
            <h2>Datos personales</h2>
            <hr class="my-3">
            <h4>Nombre: {{ alumno.nombre }}</h4>
            <h4>Apellidos: {{ alumno.apellido1 }} {{ alumno.apellido2 }}</h4>
            <h4>DNI: {{ alumno.nif }}</h4>
            <h4>Ciclo: {{ alumno.ciclo.nombre }} ({{ alumno.ciclo.codigo }}) </h4>
        </div>

    </div>
    <div class="row justify-content-center">
        <div class="col-3 ">
            <h2>Datos de contacto</h2>
            <hr class="my-6">
            <h4>E-mail: {{ alumno.email }}</h4>
            <h4>Tlf. fijo: {{ alumno.tlfFijo }}</h4>
            <h4>Tlf. móvil: {{ alumno.tlfMovil }}</h4>

        </div>
        <div class="col-3">
            <h2>&nbsp;</h2>
            <hr class="my-6">
            <h4>Dirección: {{ alumno.direccion }}</h4>
            <h4>Código Postal: {{ alumno.codigopostal }}</h4>
            <h4>Localidad: {{ alumno.poblacion }}, ( {{ alumno.provincia }} )</h4>
        </div>
    </div>
{% endblock %}
